.menu {
  /* add correct code to place the menu correctly.*/

  background-color: black;
  font-size: 30px;
  font-family: sans-serif;
  font-weight: 400;
  color: white;
  justify-content: center;
}
body {
  background-color: whitesmoke;
}
.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.column {
  float: left;
  width: 33.33%;
  padding: 5px;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}
